name: ecomerce_n8n
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  go_router: ^17.0.0
  google_fonts: ^6.3.2
  intl: ^0.18.1
  provider: ^6.1.5+1
  dio: ^5.9.0

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
